name = "sharex-r2-cloudflare-workers"
account_id = "522ed7942a6ec29727e101623a48ea76"
workers_dev = true
routes = [
	{pattern = "r2-sharex.jross.me/*", zone_name = "jross.me"},
	{pattern = "i.james.pub/*", zone_name = "james.pub"}
]

compatibility_date = "2022-04-22"
main = "./dist/index.mjs"

[build]
command = "npm run build"

[[r2_buckets]]
bucket_name = "sharex-files"
preview_bucket_name = "sharex-files"
binding = "R2_BUCKET"